<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFolderLabel">Create or edit a Folder</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!folder.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="folder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="folder.name" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_fileApp">File App</label>
            <select class="form-control" id="field_fileApp" name="fileApp" [(ngModel)]="folder.fileApp" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fileAppOption.id === folder.fileApp?.id ? folder.fileApp : fileAppOption" *ngFor="let fileAppOption of fileapps; trackBy: trackFileAppById">{{fileAppOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_folder">Folder</label>
            <select class="form-control" id="field_folder" name="folder" [(ngModel)]="folder.folder" >
                <option [ngValue]="null"></option>
                <option [ngValue]="folderOption.id === folder.folder?.id ? folder.folder : folderOption" *ngFor="let folderOption of folders; trackBy: trackFolderById">{{folderOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
