<div>
    <h2>
        <span>Text Apps</span>
        <button class="btn btn-primary float-right jh-create-entity create-text-app" [routerLink]="['/', { outlets: { popup: ['text-app-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Text App
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="textApps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Content</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let textApp of textApps ;trackBy: trackId">
                <td><a [routerLink]="['../text-app', textApp.id ]">{{textApp.id}}</a></td>
                <td>{{textApp.title}}</td>
                <td>{{textApp.content}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../text-app', textApp.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'text-app/'+ textApp.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'text-app/'+ textApp.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
